AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
IAM_ACCESS_ROLE=

OPENSEARCH_HOST=search-your-domain.us-east-1.es.amazonaws.com
OPENSEARCH_PORT=443
OPENSEARCH_SERVICE=es
OPENSEARCH_SEMANTIC_MODEL_ID=
OPENSEARCH_IVF_MODEL_ID=
OPENSEARCH_IVF_NPROBES=64
OPENSEARCH_INGEST_PIPELINE=sentence_bedrock_embedding_pipeline

OPENSEARCH_OCCURRENCE_INDEX=sentence_occurrences-v1
OPENSEARCH_OCCURRENCE_ALIAS=sentence_occurrences
OPENSEARCH_CATALOG_INDEX=sentence_semantic_catalog-ivf-v1
OPENSEARCH_CATALOG_ALIAS=sentence_semantic_catalog

INDEX_SHARDS=3
INDEX_REPLICAS=1
VECTOR_DIMENSION=512
SEED_BATCH_SIZE=100
SEED_WORKERS=4
MATCH_THRESHOLD=90
